<div class="row-100" style="background: white">
    <div class="col-20"></div>
    <div class="col-60">
        <div style="display: inline-flex; width: 100%">
            <form th:method="POST" th:action="@{/material/edit/post/{id}(id = ${post.getId()})}" th:object="${post}" class="flex-center" style="padding: 2vh; width: 100%" enctype="multipart/form-data">
                <h2 style="padding: 1vh" class="text-center">Добавить методический материал</h2>
                <span style="padding: 0 2vh">Название</span>
                <input type="text" placeholder="название" style="width: 100%; margin: 1vh; padding: 1vh" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" style="border: solid 1px red; background: pink; margin-left: 1vh">
                    <p th:errors="*{name}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                </div>
                <p style="padding: 0 2vh">Аннотация</p>
                <textarea type="text" placeholder="аннотация" rows="3" style="width: 100%; margin: 1vh; padding: 1vh; resize: none" th:field="*{annotation}"></textarea>
                <div th:if="${#fields.hasErrors('annotation')}" style="border: solid 1px red; background: pink; margin-left: 1vh">
                    <p th:errors="*{annotation}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                </div>
                <p style="padding: 0 2vh">Краткое содержание</p>
                <div style="padding: 1vh">
                    <textarea placeholder="содержание" id="summernote" th:field="*{content}"></textarea>
                </div>
                <div th:if="${#fields.hasErrors('content')}" style="border: solid 1px red; background: pink; margin-left: 1vh">
                    <p th:errors="*{content}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                </div>

                <div style="margin: 1vh" class="shadow border">
                    <p style="color: red; padding: 1vh">Замена вида спорта только через удаление поста</p>
                    <div style="display: inline-block" th:each="st : ${sportTags}">
                        <div style="padding: 1vh">
                            <!--<img th:src="'/download/' + ${st.getImageId()}" width="32px" height="32px" style="margin-left: auto; margin-right: auto; display: block"><br>-->
                            <span th:text="${st.getName()}"></span>
                        </div>
                    </div>
                </div>
                <div style="margin: 1vh">
                    <p>Изображение на карточке материала: </p>
                    <div class="shadow border" style="padding: 1vh">
                        <p style="color: green">Если желаете заменить, выберите другое изображение</p>
                        <img th:src="'/download/' + ${post.getImageId()}" width="200px"><br><br>
                       <!-- <a class="link-button-simple" th:href="@{/material/post/post/{id}/image/delete(id = ${post.getId()})}">Удалить</a>-->
                        <input type="hidden" accept="image/*" id="imageFake" disabled="disabled">
                        <input type="file" accept="image/*" id="image" th:field="*{image}"><br>
                        <progress id="imageProgressBar" hidden></progress>
                        <div th:if="${#fields.hasErrors('image')}" style="border: solid 1px red; background: pink">
                            <p th:errors="*{image}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                        </div>
                    </div>
                    <br>
                    <p>Файл с методическими материалами: </p>
                    <div class="row-100-block shadow border" style="padding: 1vh">
                        <p style="color: green">Если желаете заменить, выберите другой файл</p>
                        <span th:text="'Текущий файл: ' + ${file.getName()}"></span>
                        <a th:href="@{/download/{id}(id = ${file.getId()})}" class="link-button-simple float-right">Скачать</a>
                        <div class="row-100">
                            <input type="hidden" accept="*/*" id="fileFake" disabled="disabled">
                            <input type="file" accept="*/*" id="file" th:field="*{file}"><br>
                            <progress id="progressBar" hidden></progress>
                            <div th:if="${#fields.hasErrors('file')}" style="border: solid 1px red; background: pink;">
                                <p th:errors="*{file}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row-100-block" style="padding-top: 2vh">
                        <a th:href="@{/material}" class="link-button-simple">Назад</a>
                        <input type="submit" value="Обновить" class="input-button" id="inputButtonFake" hidden disabled="disabled">
                        <input type="submit" value="Обновить" class="input-button" id="inputButton" onclick="hiddenControl()">
                        <a th:href="@{/material/post/verify/{id}(id=${post.getId()})}" class="link-button-simple" th:if="${roleAdmin} or ${roleModerator}">Проверенно</a>
                        <a th:href="@{/material/off/verified/{id}(id=${post.getId()})}" class="link-button-simple" th:if="${roleAdmin} or ${roleMainModerator}">Отменить проверку</a>
                        <a th:href="@{/material/post/allowed/{id}(id=${post.getId()})}" class="link-button-simple" th:if="${roleAdmin} or ${roleMainModerator}">Опубликовать</a>
                        <a th:href="@{/material/post/delete/{id}(id=${post.getId()})}" class="link-button-simple float-right">Удалить</a>
                    </div>
                    <script>
                        function hiddenControl(){
                            document.getElementById('progressBar').hidden=false
                            document.getElementById('imageProgressBar').hidden=false

                            document.getElementById('inputButton').hidden=true
                            document.getElementById('inputButtonFake').hidden=false

                            document.getElementById('fileFake').setAttribute('placeholder','in progress ...')
                            document.getElementById('imageFake').setAttribute('placeholder','in progress ...')
                            document.getElementById('fileFake').type='file'
                            document.getElementById('imageFake').type='file'

                            document.getElementById('file').setAttribute('style','display:none')
                            document.getElementById('image').setAttribute('style','display:none')
                        }
                    </script>
                    <div class="row-100-block text-right">
                        <p th:text="${user.getFullName()}" style="margin: 1vh">author name</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-20"></div>
</div>
