
<div id="searchBar" class="row-100-block" style="background: white" hidden>
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div class="row-100-block">
            <div class="col-100-inline-flex">
                <div class="flex-center" style="width: 100%">
                    <form th:method="GET" th:action="@{/search}" style="padding: 1vh; display: block; width: 100%">
                        <input type="search" id="search" name="search" placeholder="Введите свой запрос здесь" style="display: inline-block; padding: 0.5vh; width: 100%">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>


<div class="row otstup-verh">
    <!-- БЛОК "БЛИЖАЙШИЕ СОБЫТИЯ" -->
    <div class="large-3 columns">
        <p class="lead">Ближайшие события</p>
        <div class="media-object">
            <!--<div class="media-object-section">
                <a class="th" href="">
                    <img class="thumbnail img-anons" src="/img/14.jpg">
                </a>
            </div>
            <div class="media-object-section">
                <a href="#">
                    <p class="calendar-gorod">Москва</p>
                    <p class="calendar-date">14.10.2024-14.10.2024</p>
                </a>
                <a href="#">
                    <h3 class="calendar-title">Чемпионат России по Радиоспорту УКВ имени С.П.Попова</h3>
                </a>
            </div>-->
        </div>
        <div class="media-object">
            <!--<div class="media-object-section">
                <a class="th" href="#">
                    <img class="thumbnail img-anons" src="/img/14.jpg">
                </a>
            </div>
            <div class="media-object-section">
                <a href="#">
                    <p class="calendar-gorod">Москва</p>
                    <p class="calendar-date">14.10.2024-14.10.2024</p>
                </a>
                <a href="#">
                    <h3 class="calendar-title">Чемпионат России по Радиоспорту УКВ имени С. П, Попова</h3>
                </a>
            </div>-->
        </div>
    </div>
    <!-- БЛОК СЛАЙДЕР -->
    <div class="large-6 columns">
        <div class="responsive-blog-post">
            <div class="individual-post">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-use-m-u-i="false" data-orbit>
                    <div class="orbit-wrapper">
                        <div class="orbit-controls">
                            <button class="orbit-previous">
                                <span class="show-for-sr">Previous Slide</span>
                            </button>
                            <button class="orbit-next">
                                <span class="show-for-sr">Next Slide</span>
                            </button>
                        </div>
                        <ul class="orbit-container" style="height: 350px">
                            <li class="is-active orbit-slide" th:each="slider, stat : ${sliders}">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" th:src="'/download/' + ${slider.getImageId()}" alt="Space" style="object-fit: cover">
                                    <figcaption class="orbit-caption">
                                        <a th:href="${slider.getUrl()}" style="text-decoration: none; color: white">
                                            <span th:text="${slider.getTitle()}"></span>
                                        </a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <nav class="orbit-bullets">
                        <button class="is-active" data-slide="0">
                            <span class="show-for-sr">First slide details.</span>
                            <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                        </button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- БЛОКЕ "ПОПУЛЯРНЫЕ СТАТЬИ" -->
    <div class="large-3 columns ">
        <p class="lead">Популярные статьи</p>
        <div class="media-object" th:each="taggedPost : ${popular}">
            <div class="media-object-section">
                <a class="th" th:href="@{/read/post/{id}(id=${taggedPost.getPost().getId()})}">
                    <img th:src="'/download/' + ${taggedPost.getPost().getImageId()}" class="thumbnail img-anons" style="object-fit: cover">
                </a>
            </div>
            <div class="media-object-section">
                <a th:href="@{/read/post/{id}(id=${taggedPost.getPost().getId()})}">
                    <h3 class="calendar-title" th:text="${taggedPost.getPost().getName()}"></h3>
                </a>
                <h4 class="calendar-date" th:each="tag : ${taggedPost.getSportTags()}" th:text="'#'+${tag.getName()}"></h4>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- ВСЕ СТАТЬИ -->
<div class="row small-up-3 medium-up-4 large-up-5">
    <div class="column" th:each="post, stat : ${posts}">
        <div class="card-flex-article card" style="border: none; background: whitesmoke">
            <div class="card-image exmpl">
                <a th:href="@{/read/post/{id}(id=${post.getPost().getId()})}">
                    <img th:src="'/download/' + ${post.getPost().getImageId()}">
                </a>
            </div>
            <div class="card-section">
                <a th:href="@{/read/post/{id}(id=${post.getPost().getId()})}">
                    <h3 class="calendar-title artic" th:text="${post.getPost().getName()}"></h3>
                </a>
            </div>
            <div class="article-details">
                <!--<a href="#">
                    <h4 class="calendar-date">Силовые тренировки</h4>
                </a>-->
                <h4 class="calendar-date" th:each="tag : ${post.getSportTags()}" th:text="'#'+${tag.getName()}"></h4>
            </div>
        </div>
    </div>
</div>
<!-- ПЕРЕКЛЮЧАТЕЛЬ СТРАНИЦ -->
<!--<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="color: black; text-decoration: none" th:href="@{/page/0}" th:if="${page > 0}">первая</a>
            <a style="color: black; text-decoration: none" th:text="${page - 1}" th:href="@{/page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a style="color: black; text-decoration: none" th:text="${page}" th:href="@{/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a style="background: #2d3034; color: white; text-decoration: none" th:text="${page + 1}" th:href="@{/page/{num}(num=${page})}">текущая</a>
            <a style="color: black; text-decoration: none" th:text="${page + 2}" th:href="@{/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a style="color: black; text-decoration: none" th:text="${page + 3}" th:href="@{/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="color: black; text-decoration: none" th:href="@{/page/{num}(num=${lastPage})}" th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->

<!--<div class="row otstup-verh">
    <div class="large-3 columns">
        <div class="responsive-blog-post">
            <div class="individual-post">
                <a th:href="@{/read/post/{id}(id=${posts.get(1).getId()})}" style="text-decoration: none">
                    <img th:src="'/download/' + ${posts.get(1).getImageId()}">
                    <h4 class="cover-h2" th:text="${posts.get(1).getName()}" style="text-decoration: none"></h4>
                </a>
            </div>
        </div>
        <div class="responsive-blog-post">
            <div class="individual-post">
                <a th:href="@{/read/post/{id}(id=${posts.get(2).getId()})}" style="text-decoration: none">
                    <img th:src="'/download/' + ${posts.get(2).getImageId()}">
                    <h4 class="cover-h2" th:text="${posts.get(2).getName()}" style="text-decoration: none"></h4>
                </a>
            </div>
        </div>
    </div>
    <div class="large-6 columns ">
        <div class="responsive-blog-post">
            <div class="individual-post">
                <a th:href="@{/read/post/{id}(id=${posts.get(0).getId()})}" style="text-decoration: none">
                    <img th:src="'/download/' + ${posts.get(0).getImageId()}">
                    <h1 class="osn-cover-h1" th:text="${posts.get(0).getAnnotation()}"></h1>
                </a>
            </div>
        </div>
    </div>
    <div class="large-3 columns">
        <p class="lead" style="text-align: center">ПОПУЛЯРНОЕ</p>
        <div class="media-object" th:each="i : ${#numbers.sequence(3, 6)}" th:if="${posts.size() >= 6}">
            <div class="media-object-section">
                <a th:href="@{/read/post/{id}(id=${posts.get(i).getId()})}">
                    <img class="thumbnail img-anons" th:src="'/download/' + ${posts.get(i).getImageId()}">
                </a>
            </div>
            <div class="media-object-section">
                &lt;!&ndash;<img th:each="sportId : ${posts.get(i).getSportTags()}" th:src="'/download/tag/' + ${sportId}" width="24" height="24">&ndash;&gt;
                <a th:href="@{/read/post/{id}(id=${posts.get(i).getId()})}" style="text-decoration: none">
                    <h3 class="cover-h2" th:text="${posts.get(i).getName()}"></h3>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row col">
        <h4 class="text-center">НЕДАВНИЕ</h4>
    </div>
    <hr>
    <div class="row small-up-3 medium-up-4 large-up-5">
        <div class="column" th:each="i : ${#numbers.sequence( 0, 4)}" th:if="${posts.size() >= 4}">
            <div class="card-flex-article">
                &lt;!&ndash;<div class="article-details">
                    <img th:each="sportId : ${posts.get(i).getSportTags()}" th:src="'/download/tag/' + ${sportId}" width="24" height="24">
                </div>&ndash;&gt;
                <a th:href="@{/read/post/{id}(id=${posts.get(i).getId()})}" style="text-decoration: none">
                    <div class="card-image">
                        <img th:src="'/download/' + ${posts.get(i).getImageId()}">
                        <span class="label alert card-tag">#SPORT</span>
                    </div>
                    <div class="card-section">
                        <h3 class="article-title" th:text="${posts.get(i).getName()}"></h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <form th:method="GET" th:action="@{/search}" style="padding: 1vh; display: block; width: 100%">
            <input type="search" placeholder="введите свой запрос здесь" id="search" name="search" style="display: inline-block; padding: 0.5vh; width: 100%">
        </form>
    </div>
    <div class="col-20"></div>
</div>
<div class="row-100">
    <div class="col-20"></div>
    <div class="col-60" style="padding: 1vh">
        <div class="flex-container border target" th:each="post,stat:${posts}" style="padding: 1vh; margin-bottom: 1vh">
            <a th:href="@{/read/post/{id}(id=${post.getId()})}" style="color: black">
                <div class="col-60">
                    <div class="row-100">
                        <h4 th:text="${post.getName()}">name</h4>
                    </div>
                    <div class="row-100 word-break">
                        <p th:text="${post.getAnnotation()}">annotation</p>
                    </div>
                </div>
                <div class="col-40">
                    <img class="image" th:src="'/download/' + ${post.getImageId()}">
                </div>
            </a>
        </div>
    </div>
    <div class="col-20"></div>
</div>
<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/page/0}" th:if="${page > 0}">первая</a>
            <a class="link-button-simple-2" th:text="${page - 1}" th:href="@{/page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a class="link-button-simple-2" th:text="${page}" th:href="@{/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a class="link-button-simple-2" th:text="${page + 1}" th:href="@{/page/{num}(num=${page})}" style="background: royalblue; color: whitesmoke">текущая</a>
            <a class="link-button-simple-2" th:text="${page + 2}" th:href="@{/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a class="link-button-simple-2" th:text="${page + 3}" th:href="@{/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/page/{num}(num=${lastPage})}" th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->
