<div class="row-100">
    <div class="col-20"></div>
    <div class="col-60">
        <div style="display: inline-flex; width: 100%; min-height: 70vh">
            <form th:method="POST" th:action="@{/auth/login}" style="margin: auto; padding: 2vh" class="shadow border">
                <h4>Авторизация</h4>
                <p>электронная почта</p>
                <input placeholder="somebody@example.ru" type="email" name="username" id="username">
                <br>
                <p>пароль</p>
                <input placeholder="пароль" type="password" name="password" id="password">
                <br>
                <p style="color: red" th:if="${!param.error.isEmpty()}">Incorrect login or password</p>
                <br>
                <input class="input-button" type="submit" value="вход">
            </form>
        </div>
    </div>
    <div class="col-20"></div>
</div>