<div class="row-100-block whited">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div class="col-70-inline-flex">
            <div class="flex-center" style="width: 100%">
                <form th:method="POST" th:action="@{/matrial/search}">
                    <input type="text" placeholder="search material" style="width: 70%; height: 30px">
                    <input type="submit" value="search" class="input-button" style="width: 20%">
                </form>
            </div>
        </div>
        <div class="col-30-inline-flex">
            <div class="flex-center" style="width: 100%" th:if="${rolePublisher}">
                <form th:method="GET" th:action="@{/material/post}" class="text-center">
                    <input type="submit" value="add post" class="input-button">
                </form>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>
<div class="row-100-block whited">
    <div class="col-20"></div>
    <div class="col-60-inline-flex">
        <div class="row-100-block shadow" th:each="post : ${posts}">
            <dib class="col-60 media-type">
                <h2 th:text="${post.getName()}"></h2>
                <p th:text="${post.getAnnotation()}"></p>
            </dib>
            <dib class="col-40 media-type">
                <img class="image" th:src="${post.getImagePath()}">
            </dib>
        </div>
    </div>
    <div class="col-20"></div>
</div>
