<div id="searchBar" class="row-100-block" style="background: white" hidden>
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div class="row-100-block">
            <div class="col-100-inline-flex">
                <div class="flex-center" style="width: 100%">
                    <form th:method="GET" th:action="@{/material/search}" style="padding: 1vh; display: block; width: 100%">
                        <input type="search" id="search" name="search" placeholder="Введите свой запрос здесь" style="display: inline-block; padding: 0.5vh; width: 100%">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>

<div class="row-100-block" th:if="${rolePublisher}" style="background: white">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div class="row-100">
            <div class="col-100-inline-flex">
                <div class="flex-center" style="width: 100%; margin-top: 12px" th:if="${rolePublisher}">
                    <form th:method="GET" th:action="@{/material/post}" class="text-center">
                        <input type="submit" value="добавить пост" class="input-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>

<div class="row-100-block" th:if="${roleMainModerator} or ${roleAdmin}" style="background: white; padding-top: 1vh">
    <div class="col-20"></div>
    <div class="col-60">
        <div class="col-20"></div>
        <div class="col-60-inline-flex">
            <a class="link-button-simple flex-center" th:href="@{/material/page/0}">Редакция</a>
            <a class="link-button-simple flex-center" th:href="@{/material/event/config}">Календарь событий</a>
            <a class="link-button-simple flex-center" th:href="@{/material/slider/config}">Слайдер</a>
        </div>
        <div class="col-20"></div>
    </div>
    <div class="col-20"></div>
</div>

<div th:if="${posts.size() == 0}" class="row-100-block text-center" style="padding: 30vh 0; background: white">
    <p>Тут пока не с чем работать</p>
</div>
<div th:if="${posts.size() != 0}" class="row-100-block" style="background: white">
    <div class="col-20"></div>
    <div class="col-60">
        <div class="flex-container" id="currentPosts">
            <div class="flex-element border target" th:each="post,stat:${posts}" th:id="'cp' + ${stat.index}">
                <a class="link-decoration" th:href="@{/material/edit/post/{id}(id = ${post.getId()})}">
                    <div class="row-100-block text-center" style="background: darkred" th:if="${!post.isVerified()}">
                        <p style="color: white">не проверенно</p>
                    </div>
                    <div class="row-100-block text-center" style="background: darkgreen" th:if="${post.isVerified() && !post.isAllowed()}">
                        <p style="color: white">прошел первичную проверку</p>
                    </div>
                    <div class="row-100-block text-center">
                        <h4 th:text="${post.getName()}">name</h4>
                    </div>
                    <div class="row-100-block">
                        <img class="image" th:src="'/download/' + ${post.getImageId()}">
                    </div>
                    <div class="row-100-block flex-grow">
                        <p th:text="${post.getAnnotation()}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>

<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="color: white; text-decoration: none" th:href="@{/material/page/0}" th:if="${page > 0}">первая</a>
            <a style="color: white; text-decoration: none" th:text="${page - 1}" th:href="@{/material/page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a style="color: white; text-decoration: none" th:text="${page}" th:href="@{/material/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a style="background: white; color: black; text-decoration: none" th:text="${page + 1}" th:href="@{/material/page/{num}(num=${page})}">текущая</a>
            <a style="color: white; text-decoration: none" th:text="${page + 2}" th:href="@{/material/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a style="color: white; text-decoration: none" th:text="${page + 3}" th:href="@{/material/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="color: white; text-decoration: none" th:href="@{/material/page/{num}(num=${lastPage})}" th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>
<!--
<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/material/page/0}" th:if="${page > 0}">первая</a>
            <a class="link-button-simple-2" th:text="${page - 1}" th:href="@{/material/page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a class="link-button-simple-2" th:text="${page}" th:href="@{/material/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a class="link-button-simple-2" th:text="${page + 1}" th:href="@{/material/page/{num}(num=${page})}" style="background: royalblue; color: whitesmoke">текущая</a>
            <a class="link-button-simple-2" th:text="${page + 2}" th:href="@{/material/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a class="link-button-simple-2" th:text="${page + 3}" th:href="@{/material/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/material/page/{num}(num=${lastPage})}" th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->
