<div class="row otstup-verh">
    <div class="large-9 columns">
        <h4 class="zagolovok-tekstoviy-bloc" th:text="${post.getName()}"></h4>
        <img class="image" th:src="'/download/' + ${post.getImageId()}">
        <div th:utext="${post.getContent()}"></div>
    </div>
    <div class="large-3 columns ">
        <h2 class="zagolovok-tekstoviy-bloc">Популярные статьи</h2>
        <div class="media-object" th:each="p : ${posts}">
            <div class="media-object-section">
                <a th:href="@{/read/post/{id}(id=${p.getId()})}" style="text-decoration: none">
                    <img class="thumbnail img-anons" th:src="'/download/' + ${p.getImageId()}">
                </a>
            </div>
            <div class="media-object-section">
                <a th:href="@{/read/post/{id}(id=${p.getId()})}" style="text-decoration: none">
                    <h4 class="cover-h2" th:text="${p.getName()}"></h4>
                </a>
                <img th:each="sportId : ${p.getSportTags()}" th:src="'/download/tag/' + ${sportId}" width="24" height="24">
            </div>
        </div>
    </div>
</div>


<!--
<div class="col-20"></div>
<div class="col-60">
    <div class="flex-container">
        <div class="row-100">
            <div th:each="st : ${sportTags}" style="padding: 1vh">
                <img th:src="'/download/' + ${st.getImageId()}" width="64" height="64">
            </div>
        </div>
        <div class="row-100">
            <h2 th:text="${post.getName()}">name</h2>
        </div>
        <div class="row-100">
            <img class="image" th:src="'/download/' + ${post.getImageId()}">
        </div>
        <div class="row-100">
            <div th:utext="${post.getContent()}"></div>
        </div>
        <div class="row-100 shadow border" style="padding: 1vh" th:if="${!moderation}">
            <div class="col-50-inline-flex">
                <a th:href="@{/download/{id}(id=${file.getId()})}" class="link-button-simple flex-center">Скачать материалы</a>
            </div>
            <div class="col-50-inline-flex">
                <p class="flex-center" th:text="${file.getName()}"></p>
            </div>
        </div>
        <div class="row-100 shadow border" style="padding: 1vh" th:if="${moderation}">
            <div class="col-33" style="display: inline-flex">
                <a th:href="@{/download/{id}(id=${file.getId()})}" class="link-button-simple flex-center">Скачать материалы</a>
            </div>
            <div class="col-33" style="display: inline-flex">
                <p class="flex-center" th:text="${file.getName()}"></p>
            </div>
            <div class="col-33" style="display: inline-flex">
                <a th:href="@{/material/off/allowed/{id}(id=${post.getId()})}" class="link-button-simple flex-center">Снять с публикации</a>
            </div>
        </div>
        <div class="row-100-block text-center" style="padding: 2vh">
            <span th:text="${user.getFullName()}">fullName</span>
        </div>
    </div>
</div>
<div class="col-20"></div>-->
