<div class="row-100" style="background: white; padding: 15vh 0">
    <div class="col-20"></div>
    <div class="col-60" style="padding: 10vh 0">
        <div class="col-100 shadow border" style="padding: 1vh; margin-top: 1vh">
            <div class="row-100" th:each="role : ${user.getRoles()}">
                <p th:text="'Текущая роль ' + ${role.getDisplayName()}"></p>
            </div>
            <div class="row-100-block" th:if="${roleModerator}">
                <div th:each="sportTag : ${sportTags}" style="display: inline-block">
                    <img th:src="'/download/' + ${sportTag.getImageId()}" width="32" height="32">
                </div>
            </div>
            <div class="row-100-block" th:if="${rolePublisher} and ${posts.size() != 0}">
                <form th:method="GET" id="optionForm">
                    <input hidden name="_csrf" th:value="${_csrf.getToken()}">
                </form>
                <label for="select">Мои посты</label>
                <select name="select" id="select">
                    <option th:each="post : ${posts}" th:text="${post.getName()}" th:value="${post.getId()}"></option>
                </select>
                <a class="link-button-simple" href="#" onclick="readPost()">просмотреть</a>
                <script>
                    function readPost(){
                        let select = document.getElementById('select').value;
                        let form = document.getElementById('optionForm');
                        form.setAttribute('action','/read/post/' + select);
                        form.submit();
                    }
                </script>
            </div>
            <div class="row-100-block">
                <p th:text="${user.getFullName()}"></p>
                <p th:text="'Почта ' + ${user.getMail()}"></p>
                <p th:text="'День рожденияч ' + ${user.getBirthdayAsString()}"></p>
                <p th:text="'Зарегистрирован ' + ${user.getPlacedAtAsString()}"></p>
                <p th:text="'Телефон ' + ${user.getPhone()}"></p>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>