<div class="row-100" style="background: white">
    <div class="col-20"></div>
    <div class="col-60-inline-flex">
        <form th:method="POST" th:action="@{/auth/reg}" th:object="${user}" class="flex-center" style="width: 100%">
            <div class="row-100" style="display: inline-flex; padding: 1vh">
                <h2 style="margin: auto">Форма регистрации</h2>
            </div>
            <div class="col-50-inline-flex">
                <div class="flex-center" style="width: 100%; padding: 2vh">
                    <label for="email">e-mail:</label>
                    <input type="email" id="email" th:field="*{mail}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('mail')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{mail}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="password">password:</label>
                    <input id="password" type="password" th:field="*{password}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('password')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{password}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="cPassword">confirm password:</label>
                    <input id="cPassword" type="password" th:field="*{confirmPassword}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('confirmPassword')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{confirmPassword}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="firstName">first name</label>
                    <input id="firstName" type="text" th:field="*{firstName}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('firstName')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{firstName}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="middleName">middle name</label>
                    <input id="middleName" type="text" th:field="*{middleName}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('middleName')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{middleName}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="lastName">lastname</label>
                    <input id="lastName" type="text" th:field="*{lastName}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('lastName')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{lastName}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="birthday">birthday</label>
                    <input id="birthday" type="date" th:field="*{birthday}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('birthday')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{birthday}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                    <br>
                    <label for="phone">phone number</label>
                    <input id="phone" type="text" th:field="*{phone}" style="width: 100%">
                    <div th:if="${#fields.hasErrors('phone')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{phone}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                </div>
            </div>
            <div class="col-50-inline-flex" style="padding-top: 30vh">
                <div class="flex-center">
                    <input type="checkbox" name="admin" id="admin" th:field="*{admin}" onclick="setAdmin()">
                    <label for="admin">Администратор</label><br>
                    <input type="checkbox" name="mainModerator" id="mainModerator" th:field="*{mainModerator}" onclick="setMainModerator()">
                    <label for="mainModerator">Главный редактор</label><br>
                    <input type="checkbox" name="moderator" id="moderator" th:field="*{moderator}" th:if="${sportTags.size()} != 0" onclick="setModerator()">
                    <label for="moderator" th:if="${sportTags.size()} != 0">Редактор</label>
                    <br th:if="${sportTags.size()} != 0">
                    <div id="hidden-block" hidden class="shadow border">
                        <div style="display:block; width: 300px; padding: 1vh">
                            <div style="display: inline-block" th:each="st : ${sportTags}">
                                <!--<img th:src="'/download/' + ${st.getImageId()}" width="16" height="16">-->
                                <input type="checkbox" th:name="sportTag" th:value="${st.getId()}"><span th:text="${st.getName()}"></span>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" name="publisher" id="publisher" th:field="*{publisher}" onclick="setPublisher()" th:if="${sportTags.size()} != 0">
                    <label for="publisher" th:if="${sportTags.size()} != 0">Автор</label><br>
                    <div th:if="${#fields.hasErrors('admin')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{admin}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>
                </div>
            </div>
            <div class="row-100" style="display: inline-flex; padding: 1vh">
                <input type="submit" value="Submit" class="input-button" style="margin: auto"><br>
            </div>
        </form>
    </div>
    <div class="col-20"></div>
</div>
