<div class="row-100-block" th:if="${roleMainModerator} or ${roleAdmin}" style="background: white; padding-top: 1vh">
    <div class="col-20"></div>
    <div class="col-60">
        <div class="col-20"></div>
        <div class="col-60-inline-flex">
            <a class="link-button-simple flex-center" th:href="@{/material/page/0}">Редакция</a>
            <a class="link-button-simple flex-center" th:href="@{/material/event/config}">Календарь событий</a>
            <a class="link-button-simple flex-center" th:href="@{/material/slider/config}">Слайдер</a>
        </div>
        <div class="col-20"></div>
    </div>
    <div class="col-20"></div>
</div>

<div class="row-100-block" style="background: white">
    <div class="col-20"></div>
    <div class="col-60" style="padding: 20vh">
        <div class="row-100-block" style="text-align: center">
            <p><b>Можно иметь одновременно только 4 новости в слайдере</b></p>
        </div>
        <div class="row-100-block" th:each="slider, stat : ${sliders}">
            <form th:method="GET" th:action="@{/material/slider/delete}">
                <input type="number" id="sliderId" name="sliderId" th:value="${slider.getId()}" hidden>
                <div class="row-100" th:if="${stat.index % 2 == 0}" style="background: whitesmoke">
                    <div class="col-33" style="display: flex">
                        <div class="text-center flex-center" style="width: 10%">
                            <p class="flex-center" th:text="${stat.index + 1}"></p>
                        </div>
                        <div class="flex-center" style="width: 90%">
                            <span th:text="${slider.getTitle()}"></span>
                        </div>
                    </div>
                    <div class="col-33" style="display: flex">
                        <span th:text="${slider.getUrl()}"></span>
                    </div>
                    <div class="col-33" style="display: flex">
                        <div class="flex-right">
                            <input type="submit" class="input-button" value="Удалить">
                        </div>
                    </div>
                </div>
                <div class="row-100" th:if="${stat.index % 2 != 0}">
                    <div class="col-33" style="display: flex">
                        <div class="text-center flex-center" style="width: 10%">
                            <p class="flex-center" th:text="${stat.index + 1}"></p>
                        </div>
                        <div class="flex-center" style="width: 90%">
                            <span th:text="${slider.getTitle()}"></span>
                        </div>
                    </div>
                    <div class="col-33" style="display: flex">
                        <span th:text="${slider.getUrl()}"></span>
                    </div>
                    <div class="col-33" style="display: flex">
                        <div class="flex-right">
                            <input type="submit" class="input-button" value="Удалить">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row-100-block" th:if="${sliders.size() < 4}">
            <form th:method="POST" th:action="@{/material/slider/save}" th:object="${slider}" enctype="multipart/form-data">
                <div class="row-100-block">
                    <div class="col-33" style="padding: 1vh">
                        <input type="text" placeholder="Заголовок" th:field="*{title}">
                        <div th:if="${#fields.hasErrors('title')}" style="border: solid 1px red; background: pink">
                            <p th:errors="*{title}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                        </div>
                    </div>
                    <div class="col-33" style="padding: 1vh">
                        <input type="url" placeholder="Ссылка url" th:field="*{url}">
                        <div th:if="${#fields.hasErrors('url')}" style="border: solid 1px red; background: pink">
                            <p th:errors="*{url}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                        </div>
                    </div>
                    <div class="col-33" style="margin-top: 2vh">
                        <input type="file" accept="image/*" id="image" style="margin: auto" th:field="*{image}">
                        <div th:if="${#fields.hasErrors('image')}" style="border: solid 1px red; background: pink; margin-top: 1vh">
                            <p th:errors="*{image}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                        </div>
                    </div>
                </div>
                <div class="row-100">
                    <div class="flex-center" style="margin-top: 1vh">
                        <input type="submit" class="input-button" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-20"></div>
</div>



<!--<div class="row-100-block" style="background: white">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div class="row-100-block" th:if="${roleAdmin} or ${roleMainModerator} or ${roleModerator}">
            <div class="col-100-inline-flex">
                <div class="flex-center" style="width: 100%">
                    <form th:method="GET" th:action="@{/material/search}"
                          style="padding: 1vh; display: block; width: 100%">
                        <input type="search" id="search" name="search" placeholder="Введите свой запрос здесь"
                               style="display: inline-block; padding: 0.5vh; width: 100%">
                    </form>
                </div>
            </div>
        </div>
        <div class="row-100" th:if="${rolePublisher}">
            <div class="col-70-inline-flex">
                <div class="flex-center" style="width: 100%">
                    <form th:method="GET" th:action="@{/material/search}"
                          style="padding: 1vh; display: block; width: 100%">
                        <input type="search" id="search" name="search" placeholder="Введите свой запрос здесь"
                               style="display: inline-block; padding: 0.5vh; width: 100%">
                    </form>
                </div>
            </div>
            <div class="col-30-inline-flex">
                <div class="flex-center" style="width: 100%; margin-top: 12px" th:if="${rolePublisher}">
                    <form th:method="GET" th:action="@{/material/post}" class="text-center">
                        <input type="submit" value="добавить пост" class="input-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->

<!--<div class="row-100-block" th:if="${roleMainModerator} or ${roleAdmin}" style="background: white; margin-top: 2vh">
    <div class="col-20"></div>
    <div class="col-60">
        <div class="col-20"></div>
        <div class="col-60-inline-flex">
            <a class="link-button-simple flex-center" th:href="@{/material/page/0}">Редакция</a>
            <a class="link-button-simple flex-center" th:href="@{/material/slider/config}">Слайдер</a>
        </div>
        <div class="col-20"></div>
    </div>
    <div class="col-20"></div>
</div>

<div class="row-100-block" style="background: white; padding: 5.5vh 0">
    <div class="col-20"></div>
    <div class="col-60">
        <div class="row-100">
            <div class="flex-center">
                <span class="text-center">Можно выбрать 4 статьи в слайдер - на главную страницу</span>
            </div>
        </div>
        &lt;!&ndash; posts = TagPostDTO &ndash;&gt;
        <form th:method="POST" th:action="@{/material/slider/set}">
            <div class="row-100-block" th:each="tagPost, stat : ${posts}">
                <div class="row-100" th:if="${stat.index % 2 == 0}" style="background: whitesmoke">
                    <div class="col-33" style="display: flex">
                        <div class="text-center flex-center" style="width: 10%">
                            <p class="flex-center" th:text="${stat.index + 1}"></p>
                        </div>
                        <div class="flex-center" style="width: 90%">
                            <a th:href="@{/read/post/{id}(id=${tagPost.getPost().getId()})}" style="text-decoration: none; color: black">
                                <span th:text="${tagPost.getPost().getName()}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-33" style="display: flex">
                        <p class="flex-center text-center" th:each="tag : ${tagPost.getSportTags()}" th:text="'#' + ${tag.getName()}" style="color: gray"></p>
                    </div>
                    <div class="col-33" style="display: flex">
                        <div class="flex-right">
                            <span style="color: lightgray">добавить в слайдер на главную</span>
                            <input type="checkbox" th:value="${tagPost.getPost().getId()}" id="postId">
                        </div>
                    </div>
                </div>
                <div class="row-100" th:if="${stat.index % 2 != 0}">
                    <div class="col-33" style="display: flex">
                        <div class="text-center flex-center" style="width: 10%">
                            <p class="flex-center" th:text="${stat.index + 1}"></p>
                        </div>
                        <div class="flex-center" style="width: 90%">
                            <a th:href="@{/read/post/{id}(id=${tagPost.getPost().getId()})}" style="text-decoration: none; color: black">
                                <span th:text="${tagPost.getPost().getName()}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-33" style="display: flex">
                        <p class="flex-center text-center" th:each="tag : ${tagPost.getSportTags()}" th:text="'#' + ${tag.getName()}" style="color: gray"></p>
                    </div>
                    <div class="col-33" style="display: flex">
                        <div class="flex-right">
                            <span style="color: lightgray">добавить в слайдер на главную</span>
                            <input type="checkbox" th:value="${tagPost.getPost().getId()}" name="postIds" id="postIds">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-100">
                <div class="flex-center" style="margin-top: 1vh">
                    <input type="submit" class="input-button" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
    <div class="col-20"></div>
</div>-->

<!--<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="color: white; text-decoration: none" th:href="@{/material/editors/page/0}" th:if="${page > 0}">первая</a>
            <a style="color: white; text-decoration: none" th:text="${page - 1}"
               th:href="@{/material/editors//material/editors//page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a style="color: white; text-decoration: none" th:text="${page}"
               th:href="@{/material/editors/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a style="background: white; color: black; text-decoration: none" th:text="${page + 1}"
               th:href="@{/material/editors/page/{num}(num=${page})}">текущая</a>
            <a style="color: white; text-decoration: none" th:text="${page + 2}"
               th:href="@{/material/editors/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a style="color: white; text-decoration: none" th:text="${page + 3}"
               th:href="@{/material/editors/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="color: white; text-decoration: none" th:href="@{/material/editors/page/{num}(num=${lastPage})}"
               th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->
<!--
<div class="row-100-block">
    <div class="col-20"></div>
    <div class="col-60" style="display: flex">
        <div style="display: block; margin: auto">
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/material/page/0}" th:if="${page > 0}">первая</a>
            <a class="link-button-simple-2" th:text="${page - 1}" th:href="@{/material/page/{num}(num=${page - 2})}" th:if="${page > 1}">-2</a>
            <a class="link-button-simple-2" th:text="${page}" th:href="@{/material/page/{num}(num=${page - 1})}" th:if="${page > 0}">-1</a>
            <a class="link-button-simple-2" th:text="${page + 1}" th:href="@{/material/page/{num}(num=${page})}" style="background: royalblue; color: whitesmoke">текущая</a>
            <a class="link-button-simple-2" th:text="${page + 2}" th:href="@{/material/page/{num}(num=${page + 1})}" th:if="${page + 1} <= ${lastPage}">+1</a>
            <a class="link-button-simple-2" th:text="${page + 3}" th:href="@{/material/page/{num}(num=${page + 2})}" th:if="${page + 2} <= ${lastPage}">+2</a>
            <a style="border-radius: 5px" class="link-button-simple" th:href="@{/material/page/{num}(num=${lastPage})}" th:if="${page} != ${lastPage}">последняя</a>
        </div>
    </div>
    <div class="col-20"></div>
</div>-->
