<div class="row-100" style="background: white">
    <div class="col-20"></div>
    <div class="col-60">
        <div style="display: inline-flex; width: 100%; padding: 10vh 0">
            <!-- enctype="multipart/form-data" -->
            <form th:method="POST" th:action="@{/admin/tag}" th:object="${sportTag}" style="margin: auto; padding: 2vh">
                <h2>Добавить спортивный тег</h2>
                <p>название</p>
                <input placeholder="Sport tag name" type="text" th:field="*{name}">
                <br>
                <div th:if="${#fields.hasErrors('name')}" style="border: solid 1px red; background: pink">
                    <p th:errors="*{name}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                </div>
                <p>описание</p>
                <textarea placeholder="description" rows="10" cols="50" th:field="*{description}" style="resize: none"></textarea>
                <br>
                <div th:if="${#fields.hasErrors('description')}" style="border: solid 1px red; background: pink">
                    <p th:errors="*{description}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                </div>

                <br>
                <!--<input type="file" accept="image/*" id="fileFake" disabled="disabled" style="display: none">
                <input type="file" accept="image/*" id="file" name="file"><br>
                <progress id="progressBar" hidden></progress>
                <br>
                <input class="input-button" id="inputButtonFake" type="submit" value="submit" hidden disabled="disabled">-->
                <input class="input-button" id="inputButton" type="submit" value="Сохранить"><br>
                <!-- onclick="hiddenControl()" -->
                <!--<script>
                    function hiddenControl(){
                        document.getElementById('progressBar').hidden=false
                        document.getElementById('inputButton').hidden=true
                        document.getElementById('inputButtonFake').hidden=false
                        document.getElementById('fileFake').setAttribute('placeholder','in progress ...')
                        document.getElementById('fileFake').removeAttribute("style")
                        document.getElementById('file').setAttribute('style','display:none')
                    }
                </script>-->
            </form>
        </div>
    </div>
    <div class="col-20"></div>
</div>