@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: royalblue;
    color: whitesmoke;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.border {
    border: solid mediumblue 1px;
    border-radius: 20px;
}

.blacked {
    background: royalblue;
    /*background: linear-gradient(-90deg, black, dimgray);*/
    color: whitesmoke;
}

.whited {
    background: whitesmoke;
    color: #111;
}

.active {
    background-color: darkblue;
    color: whitesmoke;
}

.input-button {
    min-width: 50px;
    width: 100%;
    max-width: 100px;
    height: 30px;
    background: lightgray;
    color: black;
    border: solid darkgray 1px;
    border-radius: 10px;
}

.input-button:hover {
    background: royalblue;
    color: whitesmoke;
}

.link-decoration {
    text-decoration: none;
}

.link-decoration:hover {
    text-decoration: none;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}