@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: mediumpurple;
    color: whitesmoke;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.border {
    border: solid mediumpurple 1px;
    border-radius: 20px;
}

.blacked {
    background: mediumpurple;
    /*background: linear-gradient(-90deg, black, dimgray);*/
    color: black;
}

.whited {
    background: whitesmoke;
    color: black;
}

.active {
    background-color: deeppink;
    color: whitesmoke;
}

.navbar li a:hover:not(.active) {
    background-color: rebeccapurple;
    color: whitesmoke;
}

.link-button {
    text-decoration: none;
    font-size: 13px;
    background: mediumpurple;
    color: whitesmoke;
    padding: 5px 10px;
    border: solid black 2px;
}

.input-button {
    min-width: 50px;
    width: 100%;
    max-width: 100px;
    height: 30px;
    background: mediumpurple;
    color: whitesmoke;
}

.input-button:hover {
    background: purple;
}