.top-bar-center{
    background: white;
}

.top-bar-center a{
    text-decoration: none;
    background-color: white;
    color: black;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.border {
    border: solid lightgrey 1px;
}

.blacked {
    background: darkblue;
    /*background: linear-gradient(-90deg, black, dimgray);*/
    color: whitesmoke;
}

.whited {
    background: white;
    color: #111;
}

.active {
    background-color: darkblue;
    color: whitesmoke;
}

.input-button {
    width: 150px;
    height: 34px;
    background: white;
    color: black;
    border: solid lightgrey 1px;
}

.input-button:hover {
    background: #2d3034;
    color: white;
    text-decoration: none;
}

.link-button-max {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    background: lightgray;
    color: black;
    padding: 1vh 2vh;
    border: solid darkgray 1px;
    border-radius: 10px;
}

.link-button-max:hover {
    text-decoration: none;
    background-color: royalblue;
    border: solid darkblue 1px;
    color: whitesmoke;
}

.link-button-simple {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: white;
    color: black;
    padding: 4px 25px;
    border: solid lightgrey 1px;
}

.link-button-simple:hover {
    text-decoration: none;
    background-color: #2d3034;
    color: white;
}

.link-button-simple-2 {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: lightgray;
    color: black;
    width: 25px;
    padding: 4px 0;
    border: solid darkgray 1px;
    border-radius: 5px;
}

.link-button-simple-2:hover {
    text-decoration: none;
    background-color: royalblue;
    border: solid darkblue 1px;
    color: whitesmoke;
}

.link-decoration {
    text-decoration: none;
    color: #111111;
}

.link-decoration:hover {
    text-decoration: none;
    color: #111111;
}

.hr-horizontal-gradient {
    margin: 20px 0;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #333, #ddd);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}