/*@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

[class*="row-"]{
    display: flex;
    float: left;
}

.row-100 {
    width: 100%;
}

.row-100-block{
    display: block;
    width: 100%;
}

.row-100-flex-bottom {
    position: absolute;
    display: flex;
    bottom: 0;
}

[class*="col-"]{
    display: inline-block;
    float: left;
}

.col-20 {
    width: 20%;
    padding: 1vh;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.col-100-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col-100-inline-flex {
    display: inline-flex;
    width: 100%;
}

.col-70-inline-flex {
    display: inline-flex;
    width: 70%;
}

.col-60-inline-flex {
    display: inline-flex;
    width: 60%;
}

.col-50-inline-flex {
    display: inline-flex;
    width: 50%;
}

.col-30-inline-flex {
    display: inline-flex;
    width: 30%;
}

.flex-center {
    margin: auto;
}

.flex-right {
    margin: auto 0 auto auto;
}

.my-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: darkblue;
}

.my-navbar li {

}

.my-navbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    background: darkblue;
    color: whitesmoke;
    padding: 1vh 2vh;
}

.my-navbar li a:hover {
    background-color: royalblue;
    color: whitesmoke;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.footer-navbar {
    display: block;
    list-style-type: none;
    width: 100%;
}

.footer-navbar li a {
    text-decoration: none;
    color: black;
}

.image {
    width: 100%;
    height: auto;
}

.margin-bottom-2 {
    margin-bottom: 2vh
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-element {
    display: flex;
    flex-direction: column;
    /*word-break: break-all;*/
    width: 350px;
    height: auto; /* 100% как вариант*/
    margin: 1vh;
    padding: 1vh;
}

.word-break {
    word-break: break-all;
}

.flex-grow {
    flex-grow: 4;
}

.target {
    background-color: white;
}

.target:hover {
    background-color: whitesmoke;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-container {
    position: relative;
    border: solid black 1px;
    border-radius: 5px;
}

.bottom-element {
    position: absolute;
    bottom: 1vh;
}

.media-type {

}

@media only screen and (max-width: 1536px) {
    /* For mobile phones: */
    [class*="col-20"] {
        display: none;
        width: 0;
    }
    [class*="media-type"] {
        width: 100%;
    }
    [class*="col-40"] {
        width: 100%;
    }
    [class*="col-60"] {
        width: 100%;
    }
    [class*="flex-element"]{
        margin: auto auto 1vh;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-20"] {
        display: none;
        width: 0;
    }
    [class*="col-40"] {
        width: 100%;
    }
    [class*="col-60"] {
        width: 100%;
    }
    [class*="flex-element"]{
        margin: auto auto 1vh;
    }
}