@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[class*="row-"]{
    display: flex;
    float: left;
    padding: 0.1vh;
}

.row-100 {
    width: 100%;
}

.row-100-block{
    display: block;
    width: 100%;
}

[class*="col-"]{
    display: inline-block;
    float: left;
    padding: 1vh;
}

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.col-100-inline-flex {
    display: inline-flex;
    width: 100%;
}

.col-70-inline-flex {
    display: inline-flex;
    width: 70%;
}

.col-60-inline-flex {
    display: inline-flex;
    width: 60%;
}

.col-50-inline-flex {
    display: inline-flex;
    width: 50%;
}

.col-30-inline-flex {
    display: inline-flex;
    width: 30%;
}

.flex-center {
    margin: auto;
}

.my-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: darkblue;
}

.my-navbar li {

}

.my-navbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    background: darkblue;
    color: whitesmoke;
    padding: 1vh 2vh;
}

.my-navbar li a:hover {
    background-color: royalblue;
    color: whitesmoke;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.footer-navbar {
    display: block;
    list-style-type: none;
    width: 100%;
}

.footer-navbar li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1vh;
    font-size: 18px;
}

.image {
    width: 100%;
    height: auto;
}

.margin-bottom-2 {
    margin-bottom: 2vh
}

.media-type {

}

@media only screen and (max-width: 1536px) {
    /* For mobile phones: */
    [class*="media-type"] {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-20"] {
        display: none;
        width: 0;
    }
    [class*="col-60"] {
        width: 100%;
    }
    /*[class*="col-40"] {
        width: 100%;
    }*/
}