* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(to right, #000000, #3d3d3d);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-bottom {
    border-bottom: solid 0.5vh #3d3d3d;
}

.row {
    display: inline-flex;
    float: left;
    width: 100%;
    height: auto;
    padding: 1vh;
}

[class*="col-"] {
    display: inline-block;
    float: left;
    height: auto;
    padding: 1vh;
}

.col-20 {
    width: 20%;
}

.col-33 {
    width: 33.333333333%;
}

.col-60 {
    width: 60%;
}

.footer {
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-navbar {
    list-style-type: none;
    overflow: hidden;
}

.footer-navbar li a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    width: 10vh;
    padding: 1vh 0;
    background-color: #606060;
    border: solid white 2px;
    border-radius: 25px;
}

.navbar li a:hover {
    background-color: #000000;
}

.blacked {
    background: linear-gradient(to right, #000000, #3d3d3d);
    color: whitesmoke;
}

.whited {
    background: linear-gradient(to right, #ffffff, #e5e5e5);
    color: black;
}