body{
    margin:0
}

#js-show-iframe-wrapper{
    display:block;
    background:#fff;
    min-width:294px
}

#js-show-iframe-wrapper .bf-142{
    background-color:#fff
}

#js-show-iframe-wrapper .bf-142__container{
    /*position:relative;*/
    display:flex;
    width:100%;
    height:100%;
    max-width:1440px;
    min-height:260px;
    padding:var(--pos-banner-fluid-142__container-padding);
    flex-direction:var(--pos-banner-fluid-142__container-direction);
    justify-content:space-between;
    align-items:var(--pos-banner-fluid-142__container-align-items);
    margin:0 auto
}

#js-show-iframe-wrapper .bf-142__content{
    flex:var(--pos-banner-fluid-142__contentFlex);
    order:var(--pos-banner-fluid-142__content-order);
    margin:var(--pos-banner-fluid-142__content-margin);
    padding:var(--pos-banner-fluid-142__content-padding);
    background-image:var(--pos-banner-fluid-142__content-bg-url);
    background-repeat:no-repeat;
    background-size:var(--pos-banner-fluid-142__decor-size);
    background-position:var(--pos-banner-fluid-142__decor-position)
}

#js-show-iframe-wrapper .bf-142__img{
    max-width:100%;
    height:auto;
    width:95px
}

#js-show-iframe-wrapper .bf-142__decor{
    display:var(--pos-banner-fluid-142__decor-display);
    order:var(--pos-banner-fluid-142__decor-order);
    flex:var(--pos-banner-fluid-142__decorFlex);
    height:var(--pos-banner-fluid-142__decor-height);
    background-image:var(--pos-banner-fluid-142__bg-url);
    background-repeat:no-repeat;
    background-size:var(--pos-banner-fluid-142__decor-size);
    background-position:var(--pos-banner-fluid-142__decor-position)
}

#js-show-iframe-wrapper .bf-142__logo-wrap{
   /* position:absolute;*/
    top:0;
    left:var(--pos-banner-fluid-142__logoLeft);
    right:var(--pos-banner-fluid-142__logoRight);
    background-color:#fff;
    padding:14px;
    border-bottom-right-radius:var(--pos-banner-fluid-142__logoRadiusRight);
    border-bottom-left-radius:var(--pos-banner-fluid-142__logoRadiusLeft)
}

#js-show-iframe-wrapper .bf-142__text{
    margin:var(--pos-banner-fluid-142__text-margin);
    font-size:var(--pos-banner-fluid-142__textFS);
    line-height:var(--pos-banner-fluid-142__textLH);
    font-family:LatoWeb,sans-serif;font-weight:700;color:#000
}

#js-show-iframe-wrapper .bf-142 .pos-banner-btn_2{
    font-size:16px;
    line-height:24px;
    display:inline-flex;
    padding:14px 41px;
    font-family:LatoWeb,sans-serif;
    font-weight:500;
    width:var(--pos-banner-fluid-142__btnWidth);
    min-height:auto;
    color:#fff;
    background-color:#0d4cd3;
    text-align:center;
    justify-content:center
}

#js-show-iframe-wrapper .bf-142 .pos-banner-btn_2:active,#js-show-iframe-wrapper .bf-142 .pos-banner-btn_2:focus,#js-show-iframe-wrapper .bf-142 .pos-banner-btn_2:hover,#js-show-iframe-wrapper .bf-142 .pos-banner-btn_2:visited{
    background-color:#0d4cd3
}