<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">title</title>
    </head>

    <body>
        <header th:insert="~{blocks/header}"></header>
        <nav th:insert="~{blocks/navbar}"></nav>

        <form th:method="POST" th:action="@{/upload}" enctype="multipart/form-data">
            <input type="file" accept="*/*" id="file" name="file"><br>
            <progress id="progressBar" hidden></progress>
            <input type="submit" value="submit" onclick="document.getElementById('progressBar').hidden=false"><br>
        </form>

        <footer th:insert="~{blocks/footer}"></footer>
    </body>
</html>