<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}">title</title>
        <link href="/css/grid.css" rel="stylesheet">
        <link href="/css/color-and-align.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="/js/reg-checkbox.js" th:inline="javascript"></script>
    </head>

    <body>
        <header th:insert="~{blocks/header}"></header>
        <nav th:insert="~{blocks/navbar}"></nav>

        <div th:insert="~{content/home-page}" th:if="${index} == 'home-page'"></div>
        <div th:insert="~{content/material-page}" th:if="${index} == 'material-page'"></div>
        <div th:insert="~{content/contact-page}" th:if="${index} == 'contact-page'"></div>
        <div th:insert="~{content/admin-page}" th:if="${index} == 'admin-page'"></div>
        <div th:insert="~{content/login-page}" th:if="${index} == 'login-page'"></div>
        <div th:insert="~{content/reg-page}" th:if="${index} == 'reg-page'"></div>
        <div th:insert="~{content/tag-page}" th:if="${index} == 'tag-page'"></div>
        <div th:insert="~{content/add-post-page}" th:if="${index} == 'add-post-page'"></div>

        <footer th:insert="~{blocks/footer}"></footer>
    </body>
</html>