<div class="row-100">
    <div class="col-20">
        <ul class="footer-navbar text-right">
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/material}">Редакция</a></li>
            <li><a th:href="@{/contact}">Контакты</a></li>
            <li><a th:href="@{/auth/login}">Вход</a></li>
        </ul>
    </div>
    <div class="col-60 text-center">
        <p style="font-size: 18px">Разработано ФГБУ "ФЦПСР"</p>
    </div>
    <div class="col-20 flex-center">
        <ul class="footer-navbar text-left">
            <li><a>Технологии:</a></li>
            <li><a href="#">Spring Framework</a></li>
            <li><a href="#">Postgresql</a></li>
            <li><a href="#">MinIO</a></li>
        </ul>
    </div>
</div>