<div class="row-100">
    <div class="col-20">
        <ul class="footer-navbar text-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Materials</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div class="col-60">
        <p class="flex-center" style="font-size: 2vh">Разработано ФГБУ "ФЦПСР"</p>
    </div>
    <div class="col-20 flex-center">
        <ul class="footer-navbar text-left">
            <li><a>Tech:</a></li>
            <li><a href="#">Spring Framework</a></li>
            <li><a href="#">Postgresql</a></li>
            <li><a href="#">MinIO</a></li>
        </ul>
    </div>
</div>